.social i:hover,footer a,footer a:focus,footer a:hover,footer a:visited,header a,header a:focus,header a:hover,header a:visited,main a,main a:focus,main a:hover,main a:visited
{
  text-decoration:none;
}

.featured-news-container
{
  border-bottom:1px solid #003;
  padding-bottom:30px;
  margin-bottom:30px;
}

img.errorarrow
{
  width:300px!important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 11px;
}
.errorcontainer img
{
  width:100%;
  height:auto;
}

.featured-news-item
{
  padding:2% 1%;
}

header.resellerp {
    color: #fff !important;
}
header.resellerp a {
    color: #fff;
}
header.resellerp img {
    height: auto;
    margin-top: 10px;
    max-width: 320px;
}

.featured-news-item *
{
  color:#fff;
  background-color:#aa0042;
}
.post-container {
    background: #e2e2e2 none repeat scroll 0 0;
    margin: 20px 0;
    padding: 10px;
}
.landing,.sticky
{
  top:0;
  width:100%;
  position:fixed;
}

.blog-articles .btn,.blog-item .btn
{
  float:right;
}

.facilities,.social ul li,aside li,footer li,header li
{
  list-style:none;
}

.offers-archive .post-thumbnail img
{
  height:auto;
  width:80%;
}

body,html
{
  font-family:Lato,sans-serif;
  font-size:16px;
  background-color:#efefef;
}

.content-area .container
{
  background:#fff;
  padding-top:16px;
}

a:active,footer a:hover,header a:hover,main a:hover
{
  outline:0;
}

.color-primary-0
{
  background-color:#1a63ff;
}

.color-primary-1
{
  background-color:#adc7ff;
}

.color-primary-2
{
  background-color:#7fa8ff;
}

.color-primary-3
{
  background-color:#002e91;
}

.color-primary-4
{
  background-color:#00246f;
}

.color-secondary-1-0
{
  background-color:#003;
}

.color-secondary-1-1
{
  color:#c6adff;
}

.color-secondary-1-2
{
  color:#a67fff;
}

.color-secondary-1-3
{
  color:#2d0094;
}

.color-secondary-1-4
{
  color:#230072;
}

.color-secondary-2-0
{
  background-color:#ffda00;
}

.color-secondary-2-1
{
  background-color:#fff2a4;
}

.color-secondary-2-2
{
  background-color:#ffea70;
}

.color-secondary-2-3
{
  background-color:#AA0042;
}

.color-secondary-2-4
{
  background-color:#a78f00;
}

.color-complement-0
{
  color:#ffa900;
}

.color-complement-1
{
  color:#ffe0a4;
}

.color-complement-2
{
  color:#ffce70;
}

.color-complement-3
{
  color:#d98f00;
}

.color-complement-4
{
  color:#a76e00;
}

.sticky
{
  left:0;
  z-index:99999;
}

.container.content-area
{
  padding-bottom:40px;
  padding-top:40px;
  background-color:#fff;
}

.banner
{
  padding:150px 0;
}

.landing img
{
  height:auto;
  max-width:800px;
  padding-top:22%;
  width:100%;
}

.landing
{
  height:100%;
  z-index:9999999;
}

.post-thumbnail img
{
  height:78px;
  width:100%;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover
{
  background-color:transparent;
  color:#fff;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover
{
  background-color:transparent;
  border-bottom:3px solid #AA0042;
  color:#fff;
}

header
{
  background-color:#003;
  z-index:99999;
  padding:20px 0;
}

.navbar
{
  border:1px solid transparent;
  margin-bottom:0;
  min-height:50px;
}

.navigation a:hover
{
  color:#ffda00;
}

.navigation .widget-title
{
  color:#ffda00;
  width:90%;
}

.navigation button
{
  background:0 0;
  border:1px solid #fff;
  width:100%;
}

.navbar-default,.navbar-default .navbar-collapse,.navbar-default .navbar-form
{
  border-color:transparent;
}

.logo img
{
  display:block;
  height:auto;
  width:100%;
  margin:0 auto;
}

#menu-toggle
{
  color:#dbdbdb;
  font-size:20px;
  padding-top:10px;
}

header li
{
  margin:0;
  padding:8px 0;
}

.menu-content-container
{
  width:75%;
}

.news-container
{
  max-height:150px;
  overflow:hidden;
}

.hotelalt
{
  font-size:2em;
  text-align:right;
}

.hotelalt .sub-text
{
  border-top:1px solid #fff;
  margin-top:1%;
  padding-top:1%;
}

.success
{
  background:#fff;
  bottom:0;
  display:none;
  font-size:inherit;
  left:0;
  position:absolute;
  right:0;
  text-transform:uppercase;
  top:0;
  color:#003;
  margin:0 15px;
  padding:11%;
}

section#testimonials
{
  background-color:#003;
  padding-bottom:40px;
  color:#fff;
}

.blog-articles .divider
{
  background-color:#ebebeb;
  height:3px;
  margin-bottom:20px;
  width:100%;
}

.blog-item
{
  border-bottom:3px solid #003;
  margin-bottom:45px;
}

.blog-item .col-sm-7
{
  padding-top:15px;
}

#searchsubmit,.btn
{
  -moz-user-select:none;
  background-image:none;
  border:1px solid transparent;
  border-radius:0;
  cursor:pointer;
  display:inline-block;
  font-size:14px;
  font-weight:400;
  line-height:1.42857;
  margin-bottom:0;
  vertical-align:middle;
  white-space:nowrap;
  padding:6px 12px;
}

section.home-search
{
  height:100vh;
  padding-top:10%;
}

section.featured-apartments-home
{
  background:#003;
  color:#fff;
  padding-bottom:60px;
  text-align:center;
}

ul.blog-articles
{
  list-style:none;
  padding:0;
}

.text-content,section.about-scp
{
  padding:15%;
}

ul.blog-articles img
{
  height:164px;
  width:100%;
}

.text-content
{
  transition:all .5s ease-in-out 0;
}

.social i,.social i:hover
{
  transition:all .3s ease 0;
}

.text-content:hover
{
  background-color:rgba(0,0,0,.5);
  color:#fff;
}

.home-search label
{
  color:#ebebeb;
  font-size:25px;
  padding:11px 0;
}

.form-control
{
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:4px;
  box-shadow:0 1px 1px rgba(0,0,0,.075) inset;
  color:#555;
  display:block;
  font-size:14px;
  height:34px;
  line-height:1.42857;
  margin-bottom:20px;
  transition:border-color .15s ease-in-out 0 .15s ease-in-out 0;
  width:100%;
  padding:6px 12px;
}

.wpcf7-form-control.wpcf7-submit.tn.btn-primary
{
  border:none;
  padding:4px 15px;
}

.home-search .btn
{
  background:#ffa900;
  font-size:20px;
  height:37px;
  width:100%;
}

.home-content
{
  background:#ebebeb;
}

.slide-content
{
  padding:8%;
}

.slide-message
{
  background:rgba(255,255,255,.81);
  border-radius:4px;
  padding:30px 0;
}

.home-search select
{
  color:#a2a2a2;
  padding-left:8px;
}

.slide-message h3
{
  text-transform:none;
}

.testimonials img
{
  border-radius:100%;
  height:auto;
  width:100%;
  max-height:157px;
}

.section-title
{
  padding:20px 0;
}

section.blog-test
{
  padding-top:40px;
}

.home-icons
{
  padding:40px 0 60px;
}

.home-icons i
{
  font-size:51px;
  padding:23px;
}

.offers-slider.btn-primary
{
  background-color:#aa0042;
  color:#fff;
  border-color:#aa0042;
}

.slide-message h1
{
  color:#aa0042;
}

.home-icons a i
{
  color:#ebebeb;
  font-size:19px;
  margin-top:3%;
  padding:8px;
}

.nav-tabs>li
{
  background:#003;
  float:left;
  margin-bottom:-1px;
  width:50%;
}

.nav-tabs>li>a
{
  border:1px solid transparent;
  border-radius:4px 4px 0 0;
  color:#ebebeb;
  line-height:1.42857;
  margin-right:0;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover
{
  -moz-border-bottom-colors:none;
  -moz-border-left-colors:none;
  -moz-border-right-colors:none;
  -moz-border-top-colors:none;
  background-color:#003;
  border-image:none;
  color:#ebebeb;
  cursor:default;
  border-color:0 0 #c5c000;
  border-style:none none solid;
  border-width:0 0 3px;
}

.nav-tabs>li>a:hover
{
  color:#003;
}

.offer-container img
{
  height:auto;
  min-height:100px;
  width:100%;
}

.home-services
{
  padding-bottom:40px;
  padding-top:40px;
}

.row.latest-offers-nav
{
  background:#aa0042;
  border-radius:3px;
  color:#ebebeb;
  font-size:19px;
  padding:8px;
}

.latest-offers-less
{
  cursor:pointer;
  text-align:right;
}

.latest-offers-more
{
  cursor:pointer;
  text-align:left;
}

.offer-container .btn
{
  background:#003;
  border:1px solid #003;
  border-radius:0;
  width:100%;
}

.contact .menu-content-container
{
  width:75%;
  margin:0 auto;
}

section.archive-search
{
  background:#aa0042;
  padding-bottom:40px;
  padding-top:20px;
}

#gmap_canvas
{
  top:-10px;
}

.panel
{
  background-color:#fff;
  border-radius:4px;
  box-shadow:0 1px 1px rgba(0,0,0,.05);
  margin-bottom:20px;
}

.searchpulldown .btn
{
  background:#aa0042;
  border-top-left-radius:0;
  border-top-right-radius:0;
  width:200px;
  border-color:#aa0042;
}

.latest-offers-nav
{
  border-bottom:1px solid #555;
  margin-top:10px;
  padding:11px 0;
}

.form-horizontal .control-label
{
  font-weight:400;
  margin-bottom:0;
  padding-bottom:10px;
  padding-top:7px;
  text-align:right;
}

.latest-offers-slide
{
  border-bottom:1px solid #d2d2d2;
  padding:8px 0;
}

.single-apartment-tabs li
{
  width:33%;
}

#map-canvas
{
  height:100%;
  margin:0 400px 0 0;
  padding:0;
}

#panelnew
{
  background-color:#fff;
  border:1px solid #999;
  left:50%;
  margin-left:-180px;
  position:absolute;
  top:5px;
  z-index:5;
  padding:5px;
}

#panelnew,.panelnew
{
  font-family:Roboto,sans-serif;
  line-height:30px;
  padding-left:10px;
}

#panelnew input,#panelnew select,.panelnew input,.panelnew select
{
  font-size:15px;
}

#panelnew i,.panelnew i
{
  font-size:12px;
}

#directions-panelnew
{
  float:right;
  height:100%;
  overflow:auto;
  width:390px;
}

#control
{
  background:#fff;
  border:1px solid #ccc;
  box-shadow:0 2px 2px rgba(33,33,33,.4);
  font-family:Arial;
  font-size:14px;
}

textarea#notes
{
  border-radius:4px;
  width:100%;
  border-color:#c2c2c2;
  padding:5px;
}

.slide-message .btn
{
  background:#aa0042;
  border-color:#aa0042;
}

footer .btn
{
  border:1px solid #fff;
  width:100%;
}

#searchsubmit,.btn-primary
{
  background-color:#003;
  color:#fff;
  text-transform:uppercase;
  border-color:#003;
}

.widget.widget_search input
{
  display:block;
  margin:6px 0;
}

.contact-methods i
{
  -moz-border-bottom-colors:none;
  -moz-border-left-colors:none;
  -moz-border-right-colors:none;
  -moz-border-top-colors:none;
  border-image:initial;
  border-radius:100%;
  font-size:35px;
  height:101px;
  width:101px;
  border-color:#555;
  border-style:solid;
  border-width:2px;
  padding:33px;
}

.row.contact-methods
{
  margin-bottom:20px;
  padding-top:30px;
}

.blog-nav
{
  border-top:1px solid #555;
  padding-top:30px;
  width:98%;
  margin:0 auto;
}

.navbar-brand
{
  float:left;
  font-size:18px;
  height:50px;
  line-height:20px;
  padding:5px 20px;
}

.navbar-brand > img {
    display: block;
    max-width: 182px;
}

.navigation li::before,aside li::before,footer li::before
{
  content:"";
  display:inline-block;
  font-family:FontAwesome;
}

.blog-nav .btn
{
  border-radius:0;
}

.col-sm-4.address
{
  padding-top:5px;
}

footer ul
{
  padding-left:5px;
}

footer i
{
  width:25px;
}

footer
{
  background:#dc0055;
}

.footer
{
  padding:30px 0;
}

.navigation li::before
{
  color:#fff;
  padding-right:10px;
}

.facilities.rating
{
  padding-top:0;
  padding-bottom:10px;
  float:right;
}

.featured-apartments-home h2
{
  color:#fff;
  padding:20px 0;
}

section.home-content.contact-us
{
  background-color:#e2e2e2;
  padding-bottom:40px;
}

.widget-title
{
  border-bottom:1px solid #ebebeb;
  padding-bottom:10px;
}

.more-about-scp i
{
  font-size:24px;
}

.facilities i
{
  color:#aa0042;
  width:25px;
}

.description p
{
  padding-bottom:20px;
}

.description
{
  padding-top:10px;
}

div#stepcorp,div#stepgroup
{
  overflow:hidden;
  padding:30px 0;
}

div#testimonials-down
{
  padding-top:0;
}

div#testimonials-down i
{
  border:1px solid #555;
  border-radius:100%;
  color:#555;
  font-size:20px;
  padding:10px;
}

div#stepcorp i,div#stepgroup i
{
  font-size:57px;
  text-align:center;
  padding:23px 0;
}

#stepcorp1,#stepgroup1
{
  left:-2000px;
}

#stepcorp2,#stepgroup2
{
  border-left:1px solid #bbb;
  border-right:1px solid #bbb;
  display:none;
}

#stepcorp3,#stepgroup3
{
  right:-2000px;
}

.social
{
  margin:0;
  padding:0;
}

.social ul
{
  margin:0;
  padding:5px;
}

.social ul li
{
  display:inline-block;
  margin:5px;
}

.social i
{
  background-color:#909aa0;
  border-radius:50%;
  font-size:22px;
  height:40px;
  padding-top:12px;
  width:40px;
}

.social .fa-facebook:hover
{
  background:#4060a5;
}

.social .fa-twitter:hover
{
  background:#00abe3;
}

.social .fa-google-plus:hover
{
  background:#e64522;
}

.social .fa-github:hover
{
  background:#343434;
}

.social .fa-pinterest:hover
{
  background:#cb2027;
}

.social .fa-linkedin:hover
{
  background:#0094bc;
}

.social .fa-flickr:hover
{
  background:#ff57ae;
}

.social .fa-instagram:hover
{
  background:#375989;
}

.social .fa-vimeo-square:hover
{
  background:#83daeb;
}

.social .fa-stack-overflow:hover
{
  background:#fea501;
}

.social .fa-dropbox:hover
{
  background:#017fe5;
}

.social .fa-tumblr:hover
{
  background:#3a5876;
}

.social .fa-dribbble:hover
{
  background:#f46899;
}

.social .fa-skype:hover
{
  background:#00c6ff;
}

.social .fa-stack-exchange:hover
{
  background:#4d86c9;
}

.social .fa-youtube:hover
{
  background:#ff1f25;
}

.social .fa-xing:hover
{
  background:#005c5e;
}

.social .fa-rss:hover
{
  background:#e88845;
}

.social .fa-foursquare:hover
{
  background:#09b9e0;
}

.social .fa-youtube-play:hover
{
  background:#df192a;
}

.asaplogo
{
  height:auto;
  width:200px;
}

.apartment-title-row
{
  border-bottom:1px solid #555;
  margin-bottom:8px;
  padding-bottom:20px;
}

.apartment-container .btn
{
  border-radius:0;
  width:100%;
}

section.content-area
{
  padding:50px 0;
}

.featured-image-preview
{
  margin-top:10px;
  padding:10px;
}

.slick-next,.slick-prev
{
  display:none!important;
}

h3.price
{
  background:#aa0042;
  border-radius:2px;
  line-height:1;
  margin-top:5px;
  padding:3px 0;
}

#landingclose
{
  overflow:hidden;
  transition-duration:.8s;
  transition-property:transform;
}

.tab-pane
{
  padding:10px 0;
}

; #control
{
  display:block;
  left:0;
  position:relative!important;
  right:0;
  top:0;
  padding:20px 0;
}

#landingclose:hover
{
  transform:rotate(90deg);
}

h3.single-section-title
{
  border-bottom:1px solid #555;
  padding-bottom:15px;
}

h3.price.old-price
{
  text-decoration:line-through;
}

.booking-request-single
{
  background:#999;
  color:#ebebeb;
  padding:10px;
}

h3.price.reduced
{
  background:#ffda00;
  color:#555;
  text-transform:uppercase;
}

.apartment-title
{
  margin-top:0;
  padding-bottom:0;
}

.single-description .nav-tabs>li
{
  background:#003;
  float:left;
  margin-bottom:-1px;
  width:33.333%;
}

.rates-table
{
  background-color:#aa0042;
  color:#fff;
}

.rates-table-content
{
  padding:0 10px;
}

.rates-table h2.entry-section-title
{
  margin-top:0;
  border-bottom:1px solid #fff;
  border-top:1px solid #fff;
}

p.rate-amount
{
  border-bottom:1px solid #fff;
  margin-bottom:-1px;
  padding-bottom:10px;
}

footer .wpcf7-form-control.wpcf7-submit.tn.btn-primary
{
  border:1px solid #fff;
  width:100%;
  padding:4px 15px;
}

.destinations-nav li::before
{
  content:"";
  font-family:FontAwesome;
  padding-right:10px;
}

.destinations-nav>li
{
  float:left;
  list-style:none;
  width:100%;
}

.destinations-nav
{
  border-top:1px solid #d2d2d2;
  -webkit-column-width:168px;
  -moz-column-width:168px;
  -o-column-width:168px;
  column-width:168px;
  max-height:1300px;
  margin:20px 0;
  padding:20px;
}

.apartment-image img
{
  height:auto;
  padding-top:6px;
  width:100%;
}

.slide-left
{
  text-align:left;
  padding-left:6%;
}

.slide-right
{
  text-align:right;
  padding-right:10%;
}

.row.apartment
{
  border-bottom:1px solid #033;
  margin-bottom:32px;
}

.text-content .title {
    border-bottom: 0;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
}

.title
{
  border-bottom:1px solid #555;
  margin-bottom:34px;
  padding-bottom:10px;
}

.apartment-info .apartment-title
{
  border-bottom:0 none;
  margin-bottom:0;
  margin-top:0;
  padding-bottom:10px;
}

.slide-left i,.slide-right i
{
  background-color:rgba(255,255,255,.7);
  color:#003;
  font-size:20px;
  padding:20px;
}

.slider-navigation
{
  position:absolute;
  top:19%;
  width:100%;
}

.home-search input,.home-search select
{
  background:#ebebeb;
  border:1px solid #555;
  border-radius:0;
  font-size:14px;
  height:37px;
  margin-bottom:3px;
  width:100%;
}

.col-sm-3.featured-image
{
  margin-bottom:20px;
}

.slider-nav img
{
  padding:5px;
}

.category-view .post-thumbnail img
{
  height:133px;
}

.childpostcontainer
{
  display:block;
  padding-right:20px;
}

.childpostcontainer i
{
  padding-right:5px;
}

h2.entry-section-title
{
  font-size:16px;
  text-transform:uppercase;
  border-bottom:1px solid #033;
  border-top:1px solid #033;
  margin-top:40px;
  padding:7px 5px;
}

#loadingDiv
{
  position:absolute;
  top:0;
  left:0;
  right:0;
  width:100%;
  text-align:center;
  background-color:rgba(0,0,51,.5);
  padding:91px 0;
}

#loadingDiv>p
{
  color:#fff;
  font-size:36px;
}

.error
{
  color:red;
  font-weight:700;
  font-size:18px;
}

.center,.landing,#searchsubmit,.btn,.more-about-scp,.slide-message,.success,section.about-scp,.col-md-12.searchpulldown,#control,.blog-nav,.contact-methods i,.social i,div#stepcorp,div#stepgroup,div#testimonials-down,h3.price
{
  text-align:center;
}

main a,a i
{
  cursor:pointer;
}

.banner h1,.navbar-default .navbar-nav>li>a,.hotelalt,header li a,.social i,.social i:hover,h3.price
{
  color:#fff;
}

.navbar,header,.archive-container
{
  position:relative;
}

.content-area header,.navbar-default
{
  background-color:transparent;
}

header ul,aside ul,.facilities
{
  padding:0;
}

section.featured-apartments-home img,.post-thumbnail .btn,#panelnew select,.panelnew select,#s,.booking-request-single .menu-content-container,.apartment-image .btn
{
  width:100%;
}

.more-about-scp,.more-about-scp a,.footer,.footer a
{
  color:#ebebeb;
}

.widget-content img,.featured-image img,.featured-image-preview,
{
  height:auto;
  width:100%;
}

.archive-search,.menu-contact li::before,.footer-social::before,#validate
{
  display:none;
}

.nav.nav-tabs.single-apartment-tabs,.footer,.innerheader
{
  background:#003;
}

aside li::before,footer li::before,h2.entry-section-title i
{
  padding-right:10px;
}
span.mobile-tool{
  display: none;
}

@media all and (max-width: 500px) {
.slick-slide {
    display: none;
    float: none;
    height: 100%;
    min-height: 1px;
    width: 100% !important;
}  
  .login-content-block h2 {
    color: white;
    font-size: 26px;
    text-shadow: 2px 2px 2px black;
}
  .facilities i {
    display: none;
  }
  .slide-left i,.slide-right i
  {
    background-color:rgba(255,255,255,.7);
    color:#003;
    font-size:11px;
    padding:15px;
  }
  
  .slider-navigation
  {
    position:absolute;
    top:15%;
    width:93%;
  }
  
  .facilities.rating {
      float: none;
      padding-bottom: 10px;
      padding-top: 3px;
  }
    
  .logo img,.menu-content-container,.sticky
  {
    width:100%;
  }
  
  .navbar-brand>img
  {
    display:block;
    max-width:180px;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu>li>a
  {
    color:#fff;
  }
  
  .sticky
  {
    left:0;
    position:relative;
    top:0;
    z-index:99999;
  }
  
  .navigation
  {
    background-image:url(http://localhost/scpads/images/menu-bkg.png);
    border-top:1px solid #fff;
    display:none;
    margin-top:3%;
    padding:4% 15px;
  }
  
  .logo img
  {
    display:block;
    height:auto;
    margin:0 auto;
  }
  
  .latest-offers-less,.latest-offers-more
  {
    display:none!important;
  }
  
  .pull-right
  {
    float:none!important;
  }
  
  .fa-content-container
  {
    margin:20px 0;
  }
  
  .row.slick-initialized.slick-slider
  {
    padding:0 20px;
  }
  
  artcile img
  {
    width:100%;
    height:auto;
  }
  
  .destinations-nav>li
  {
    float:none;
    list-style:none;
    width:100%;
  }
  
  .destinations-nav
  {
    border-top:1px solid #d2d2d2;
    max-height:none;
    margin:20px 0;
    padding:20px;
  }
  span.mobile-tool {
    display: inline-block;
    width: 45%;
  }
  .facilities.rating i {
    display: inline-block !important;
  }

  .facilities > li {
      border-bottom: 1px solid #d2d2d2;
  }
  .facilities > li:first-of-type {
      border-top: 1px solid #d2d2d2;
  }
  .apartment-info .apartment-title {
    border-bottom: 0 none;
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .login-content-block {
    padding: 3% 0;
}
}

@media all and (min-width: 600px) and (max-width: 768px) {
  .login-content-block {
    padding: 10% 0;
}
}
.city-pads-login{

  padding: 20px;
  padding-top:50px;

}
.login-password {
  padding-top:15px;
}
.login-remember {
  padding-top:10px;
  padding-left:10px;
}
.button-primary {
  background-color: #003;
  color: white;
  border-radius:5px;
  border:none;
  box-shadow: 3px 3px 5px #888888;
}
#wp-submit {
  padding: 10px 15px;

}
.login-content-block {
  padding :13% 0; 
  margin-top:20px;
}
.login-content-block h2{
  font-size: 35px;
  text-shadow: 2px 2px 2px black;
  color: white;
  font-weight:bold;
  padding-bottom:20px;
}

